html {
  height: 100vh;
}

body {
  background: #f4f6fc;
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(60deg, #7371ee 1%, #a1d9d6 100%);
}

.iphone {
  --unit: 100vh;
  position: relative;
  margin: 40px auto;
  width: 360px;
  height: 780px;
  /* width: 30vw;
  height: 80vh; */
  background-color: #fafafa;
  /* background-color: #7371ee;
  background-image: linear-gradient(60deg, #7371ee 1%, #a1d9d6 100%); */
  /* background: linear-gradient(39deg, rgba(39,77,159,1) 11%, rgba(206,96,90,1) 49%, rgba(229,47,114,1) 80%); */
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
  z-index: 10;
}

.iphone:before,
.iphone:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.iphone:before {
  top: 0px;
  width: 56%;
  height: 30px;
  background-color: #1f1f1f;
  border-radius: 0px 0px 40px 40px;
  z-index: 10;
}

.iphone:after {
  bottom: 7px;
  width: 140px;
  height: 4px;
  background-color: #111;
  border-radius: 10px;
  z-index: 10;
}

.speaker,
.camera,
main {
  position: absolute;
  display: block;
  color: transparent;
}

.speaker {
  top: 0px;
  left: 50%;
  transform: translate(-50%, 6px);
  height: 8px;
  width: 15%;
  background-color: #101010;
  border-radius: 8px;
  box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
  z-index: 10;
}

.camera {
  left: 10%;
  top: 0px;
  transform: translate(180px, 4px);
  width: 12px;
  height: 12px;
  background-color: #101010;
  border-radius: 12px;
  box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
  z-index: 10;
}

.camera:after {
  content: '';
  position: absolute;
  background-color: #2d4d76;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  top: 3px;
  left: 3px;
  display: block;
  border-radius: 4px;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.top-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 15px 0 30px;
  height: 30px;
  /* background-color: blue; */
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  font-weight: 700;
}

.top-bar span {
  display: flex;
  width: 65px;
  align-items: center;
  justify-content: space-between;
}

.top-bar img {
  width: 17px;
}

.top-bar img:first-child {
  width: 13px;
}

.top-bar img:last-child {
  width: 25px;
}

main {
  z-index: 0;
  border-radius: 40px;
  height: calc(100% - 30px);
  width: 100%;
}

footer {
  position: absolute;
  height: 75px;
  width: 100%;
  background: #f3f3f3;
  bottom: 0;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  padding: 5px 0;

  justify-content: space-around;
}

footer .icon {
  width: 100%;
  color: #949494;
  font-weight: 500;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .icon img {
  width: 30px;
  filter: invert(64%) sepia(0%) saturate(1394%) hue-rotate(135deg) brightness(93%) contrast(87%);
}

footer .icon.selected {
  color: #007aff;
}

footer .icon.selected img {
  filter: invert(34%) sepia(35%) saturate(7390%) hue-rotate(201deg) brightness(103%) contrast(103%);
}