main {
  display: flex;
  align-items: center;
}

.user-reg {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
}

input {  
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-height: 32px;
  margin: 20px 0;
  background-color: transparent;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.btn-user-reg {
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-height: 40px;
  margin: 40px 0;
  color: white;
  font-weight: bold;
  background-color: rgba(229,47,114,1);
  border: hidden;
  border-radius: 10px;
}